server:
  port: 0 #랜덤포트

spring:
  application:
    name: user-service
  zipkin:
    base-url: http://127.0.0.1:9411
    enabled: true
  sleuth:
    sampler:
      probability: 1.0 #발생된 로그를 어느정도의 빈도수로 zipkin에 전달할 것인지, 1은 100%

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  h2:
    console:
      enabled: true #콘솔사용
      settings:
        web-allow-others: true #외부접속 허용
      path: /h2-console #콘솔의 주소
#  datasource:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:mem:testdb
#    username: sa
#    password: 1234


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true #eureka 서버로부터 인스턴스들의 정보를 주기적으로 가져올 것인지를 설정하는 속성임
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instacne_id:${random.value}}

greeting:
  message: Welcome to the Simple E-commerce.

logging:
  level:
    com.example.userservice.client: DEBUG


#actuator 사용할 메소드 등록
management:
  endpoints:
    web:
      exposure:
        include: refresh, health, beans, busrefresh

#token:
#  expiration_time: 60*60*24*1000
#  secret: user_token